# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.local
.env.*.local

# Database
*.sqlite
*.sqlite3

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage
coverage